<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MovieTicketBooking</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ControlServlet</display-name>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>org.drait.ControlServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
</web-app>